@import url('https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap');

body {
    background-color: #141414 !important;
    color:white;
    font-family: 'Oswald', sans-serif;
}

body div,
body h4 {
    font-family: 'Oswald', sans-serif;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #ededed;
    background:#ededed;
    font-weight: normal;
    color: black;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #ededed;
	background: #ededed;
	font-weight: normal;
	color: black;
}


.ui-icon,
.ui-state-active .ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("http://code.jquery.com/ui/1.12.1/themes/base/images/ui-icons_555555_256x240.png");
}

.btn {
    background-color: white;
    color: black;
}

.btn:hover {
    background-color: #ababab;
}