<!DOCTYPE html>
{% load static %}
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Halo, Saya Irham</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>

</head>

<body>

    <div class="container justify-content-center text-center p-4">
        <h1>Halo, Saya Irham</h1>
    </div>
    <div class="container justify-content-center p-4" style="max-width: 600px;">
        <div id="accordion">
            <h4>Aktivitas</h4>
            <div>
                <ul>
                    <li>Kuliah</li>
                    <li>Latihan Futsal</li>
                </ul>
            </div>
            <h4>Pengalaman Organisasi/Kepanitiaan</h4>
            <div>
                <ul>
                    <li>OSIS SMAIT Al Binaa 2017</li>
                    <li>Visual Design Compfest 11</li>
                    <li>PDK CS League 2019</li>
                </ul>
            </div>
            <h4>Prestasi</h4>
            <div>
                <ul>
                    <li>Juara 2 Class Meeting Sepak Bola SMA 2016</li>
                    <li>Juara 2 Class Meeting Bola Basket SMA 2017</li>
                    <li>Juara 3 ADV Polmed Futsal Competition 2019</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container justify-content-center text-center p-4">
        <button class="btn" id="themes">Ubah Tema</button>
    </div>

</body>

</html>